<mat-card>
  <mat-card-title>
    Playground
  </mat-card-title>
  <mat-card-content>
    <p>
      Below you can see 2 cards (creative, task)
      <br>
      <mat-divider></mat-divider>
      You need to:
      - for tile task you need to filter mock response and return key strings filter(), map()
      then modify string from source to object (key, value) and this object where key is name of operator filtered before
      and value some random description form you :)
      <br>
      <mat-divider></mat-divider>
      - for tile creative you just can play around with response and be creative :)
    </p>

    <section>
      <div fxLayout="row" >
        <mat-card fxFlex="100">
          <mat-card-subtitle>
            1. Task
          </mat-card-subtitle>
          <mat-card-content>
            uncomment me when you are ready
<!--            <ng-container *ngFor="let item of task; let i = index">-->
<!--                #{{i}}: {{item.key}} => {{item.value}}-->
<!--              </ng-container>-->
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex="100">
          <mat-card-subtitle>
            2. Creative
          </mat-card-subtitle>
          <mat-card-content>
            {{creative}}
          </mat-card-content>
        </mat-card>
      </div>
    </section>
  </mat-card-content>
</mat-card>
