<mat-tab-group mat-stretch-tabs class="stretched-tabs" color="accent">
  <mat-tab label="Operators">
    <app-operators
      [title]="$title | async"
      [list]="$operators | async"
      [description]="$desc | async">
    </app-operators>
  </mat-tab>
  <mat-tab label="Playground">
    <app-playground
      (optionSelected)="onDropdownChange($event)"

      [task]="$task | async"
      [creative]="$playground | async"
      [operators]="$operators | async"
      [notes]="$notes | async">
    </app-playground>
  </mat-tab>
</mat-tab-group>
